mysql --defaults-file=/root/.my.cnf -BN -e "CREATE USER 'root'@'%' IDENTIFIED BY '{{ mysql_root_password }}';"
mysql --defaults-file=/root/.my.cnf -BN -e "GRANT ALL PRIVILEGES ON *.* TO 'root'@'%' WITH GRANT OPTION;"
